<html>
<head>
<title>51reboot</title>
<meta charset='utf-8'>
</head>
<body>
测试页面
<div id="container" style="height: 400px; min-width: 310px"></div>

<script src='/static/jquery.js'></script>
<script src='/static/highstock.js'></script>
<script src='/static/exporting.js'></script>

<script>
$(function () {
    // 使用当前时区，否则东八区会差八个小时
    Highcharts.setOptions({
        global: {
            useUTC: false
        }
    });
    $.getJSON('/MemoryData', function (data) {
        // Create the chart
        $('#container').highcharts('StockChart', {
        chart:{

        events:{
            load:function(){
                var series = this.series[0]
                setInterval(function(){
                $.getJSON('/MemoryData',function(res){
                    $.each(res,function(i,v){
                        series.addPoint(v)
                    })
                })
                },10000)
            }
        }
        },
            rangeSelector : {
                selected : 1
            },

            title : {
                text : '内存数据'
            },

            series : [{
                name : '流火夏梦主机内存',
                type: 'scatter',
                data : data,
                tooltip: {
                    valueDecimals: 2
                }
            }]
        });
    });

});
</script>

</body>
</html>

